@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    border: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main{
    margin-top: 3%;
    padding: 2% 8%;
    background-color: #FFF2F2;
}

.main__div--div{
    position: relative;
    overflow: hidden;
}

.main__img--div {
    height: 500px;
    width: auto;
    border-radius: 20px;
}

.slide-in-left {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.main__button--div{
    position: absolute;
    top: 42%;
    font-size: 300%;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
}

.main__button--div:hover{
    font-weight: bold;
}

#prev-button{
    left: 0;
}

#next-button{
    right: 0;
}

.main__a--div{
    padding: 0.5% 4% 0.5% 4%;
    text-decoration: none;
    background-color: #402B3A;
    color: white;
    font-size: 240%;
    border-radius: 1em;
    margin-left: 6%;
    transition-property: background-color, font-weight, font-size;
    transition-duration: 500ms;
}

.main__a--div:hover{
    background-color: #402B3A;
    font-weight: bold;
    font-size: 250%;
}

.main__div{
    display: flex;
    align-items: center;
}

.main__div2{
    display: flex;
    align-items: center;
}

.main__span--div2{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 170%;
}

.main__h1{
    color: #402B3A;
    margin-top: 5%;
    margin-bottom: 1%;
}

.main__img--div2{
    height: 300px;
    width: auto;
    border-radius: 20px;
}