<footer class="footer">
  <div class="footer__div">
    <a href="#" class="footer__a--div">
      <img src="assets/instagram.svg" class="footer__img--a" alt="">
    </a>
    <a href="#" class="footer__a--div">
      <img src="assets/x-twitter.svg" class="footer__img--a">
    </a>
    <a href="#" class="footer__a--div">
      <img src="assets/facebook.svg" class="footer__img--a">
    </a>
    <a href="#" class="footer__a--div">
      <img src="assets/youtube.svg" class="footer__img--a">
    </a>
  </div>
</footer>
