@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  border: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.main{
  margin-top: 3%;
  padding: 2% 8%;
  background-color: #FFF2F2;
  margin-bottom: 3.5%;
}

.main__div--div{
  position: relative;
  overflow: hidden;
}

.main__img--div {
  height: 500px;
  width: 800px;
  border-radius: 20px;
}

.slide-in-left {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.main__button--div{
  position: absolute;
  top: 42%;
  font-size: 300%;
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 10px 15px;
}

.main__button--div:hover{
  font-weight: bold;
}

#prev-button{
  left: 0;
}

#next-button{
  right: 0;
}

.main__a--div{
  padding: 0.5% 4% 0.5% 4%;
  text-decoration: none;
  background-color: #402B3A;
  color: white;
  font-size: 240%;
  border-radius: 1em;
  margin-left: 6%;
  transition-property: background-color, font-weight, font-size;
  transition-duration: 500ms;
}

.main__a--div:hover{
  background-color: #402B3A;
  font-weight: bold;
  font-size: 250%;
}

.main__div{
  display: flex;
  align-items: center;
}

.main__div2{
  display: flex;
  align-items: center;
}

.main__span--div2{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 170%;
}

.main__h1{
  color: #402B3A;
  margin-top: 5%;
  margin-bottom: 1%;
}

.main__img--div2{
  height: 300px;
  width: auto;
  border-radius: 20px;
}

@media only screen and (min-width: 360px) and (max-width: 414px) and (min-height: 640px) and (max-height: 896px) {

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 15%;
    margin: 0;
  }

  .main__div, .main__div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__div--div {
    align-items: center;
  }

  .main__a--div {
    margin-top: 5%;
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .main__img--div {
    height: 190px;
    width: auto;
  }

  .main__h1{
    font-size: 150%;
  }

  .main__img--div2 {
    height: 170px;
  }

  .main__span--div2{
    font-size: 95%;
    padding-top: 5%;
  }

  .main__button--div {
    font-size: 200%;
    padding: 0.5% 2%;
  }
}

@media only screen and (min-width: 883px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 962px) {

  .main {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
    min-height: 100vh;
  }

  .main__img--div {
    height: auto;
    max-width: 100%;
  }

  .main__div--div {
    max-width: 60%;
    max-height: 60%;
  }

  .main__button--div {
    font-size: 240%;
  }

  .main__div{
    padding-bottom: 8%;
  }


  .main__a--div {
    font-size: 180%;
  }

  .main__img--div2 {
    height: auto;
    max-width: 50%;
  }


  .main__div2 {
    padding-bottom: 4%;
  }

  .main__span--div2{
    font-size: 110%;
  }

}
